"*":
  "atom-beautify":
    general:
      _analyticsUserId: "f5597242-ba81-4503-9d44-372e9abca8f5"
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "neon-syntax"
    ]
  "exception-reporting":
    userId: "d447580f-915f-42ce-844e-a10bed2ef17e"
  "sync-settings": {}
